<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csii.demo.mapper.DemoMapper">
    <select id="findById" resultType="com.csii.demo.entity.Demo">
        SELECT id,name from demo WHERE id = #{id}
    </select>
</mapper>